/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 05.08.2016, 7:18:24
    Author     : Andrey
*/

#main{
    border: 1px solid black;
}
#header{
    height: 100px;
    border: 1px solid black;
}
#conteiner{
    min-height: 200px;
    border: 1px solid black;
}
